<form method="post" action="https://tierion.com/form/submit">
	<input name="_key" type="hidden" value="QyRmiQtEMhyNGGf72c64YA">
    <input name="_redirecturl" type="hidden" value="http://tps.net/contact/thankyou">
	 <div class="form-group">
    <label for="exampleInputEmail1">First Name</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name">
  </div>

   <div class="form-group">
    <label for="exampleInputEmail1">Last Name</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Source of Data</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Source of Data">
  </div>
   <div class="form-group">
    <label for="exampleInputEmail1">Address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Address">
  </div>
  
  <div class="form-group">
    <label for="exampleSelect1">Income</label>
    <select class="form-control" id="exampleSelect1">
      <option>250</option>
      <option>500</option>
      <option>1000</option>
      <option>2500</option>
      <option>5000</option>
      <option>10000</option>
    </select>
  </div>
 
  <fieldset class="form-group">
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        I agree to share this personal data for purpose of risk assessment to provide me a loan
      </label>
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


